﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TEST :@ViewBag.Title</title>
</head>
<body>
    <header>Welcome to @ViewBag.Title</header>
    <section>
        <h1>WEB APP @ViewBag.Title</h1>
        @RenderBody()
    </section>
    <footer>Copyright 2021</footer>

    @RenderSection("scripts", false)
</body>
</html>
