﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About Us";
    Layout = "_Layout";
}
<div>
    <p>Visiting About PAGE.</p>
</div>
