﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ContactViewModel
@{
    ViewBag.Title = "Contact Page";
    Layout = "_Layout";
}
@section scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>">
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
} 
<div>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <label>Name: </label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <br />
        <label>Email: </label>
        <input type="email" asp-for="Email" />
        <span asp-validation-for="Email"></span>
        <br />
        <label>Subject: </label>
        <input asp-for="Subject" />
        <span asp-validation-for="Subject"></span>
        <br />
        <label>Message: </label>
        <input asp-for="Message" />
        <span asp-validation-for="Message"></span>
        <br />
        <button type="submit">Submit</button>
    </form>
</div>