﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "homepage";
    Layout = "_Layout";
}
<div>
    <ul>
        <li><a asp-controller="App" asp-action="Index">Home</a></li>
        <li><a asp-controller="App" asp-action="Shop">Shop</a></li>
        <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        <li><a asp-controller="App" asp-action="About">About</a></li>
    </ul>
    <form method="post">
        <label>Username: </label>
        <input name="username"/>
        <br />
        <label>Password: </label>
        <input type="password" name="password"/>
        <br />
        <button type="submit">Submit</button>
    </form>
</div>