﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@model ShopViewModel*@

@{
    Layout = "_Layout";
    ViewBag.Title = "Shop";
}

@model IEnumerable<Product>

<p>Count: @Model.Count()</p>

@foreach (var p in Model)
{
    <li>@p.Title</li>
}


@*
    <h1>Shop</h1>
    <div>
        <form method="post">
            <label>Category</label>
            <input name="category" asp-for="Category" />
            <br />
            <button type="submit">Submit</button>
            <br />
        </form>
    </div>
*@